<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clue_Frontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".administrative.UpgradeUser"
            android:exported="false" />
        <activity
            android:name=".administrative.ViewCards"
            android:exported="false" />
        <activity
            android:name=".administrative.ShowLobbies"
            android:exported="false" />
        <activity
            android:name=".administrative.DeleteUser"
            android:exported="false" />
        <activity
            android:name=".administrative.ShowUsers"
            android:exported="false" />
        <activity
            android:name=".administrative.AdminSettings"
            android:exported="false" />
        <activity
            android:name=".EndGameOtherPlayers"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".EndGameWinOrLose"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".DiceRoller"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".GamePlay.Checklist"
            android:exported="false" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity

            android:name=".HomeActivities.Rules"
            android:label="Clue" />

        <activity
            android:name=".HomeActivities.Settings"
            android:label="Settings"/>
        <activity
            android:name=".UserSignUp"
            android:label="@string/app_name" />
        <activity
            android:name=".Lobbies.HostLobby"
            android:label="@string/app_name" />
        <activity
            android:name=".Lobbies.JoinLobby"
            android:label="@string/app_name" />
        <activity
            android:name=".Lobbies.Lobby"
            android:label="@string/app_name" />
        <activity
            android:name=".GamePlay.Game"
            android:label="@string/app_name" />
        <activity
            android:name=".HomeActivities.Home"
            android:label="Home" />
        <activity
            android:name=".GamePlay.CardButton"
            android:label="CardButton" />
        <activity
            android:name=".GamePlay.CardLayout"
            android:label="Cards" />
        <activity
            android:name=".GamePlay.playerGuess"
            android:label="playerGuess" />
        <activity
            android:name=".GamePlay.CharacterSelection"
            android:label="Clue" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>